<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <form action="#" th:object="${phoneNumber}" th:action="@{/number}" method="post">
        <table>
            <td>Phone Number</td>
            <td><input type="text" th:field="*{number}"></td>
            <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Name Error</td>
        </table>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>